*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.fundo {
    width: 700px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;       /* garante que ocupe todo o container */
    object-fit: cover;  /* mantém proporção, corta bordas extras */
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.on {
    opacity: 1;
}


#setaEsquerdaBotao, #setaDireitaBotao{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#setaEsquerdaBotao img, #setaDireitaBotao img{
    width: 100%;
    height: 100%;
}

#setaEsquerdaBotao{
    transform: rotate(180deg);
}